.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 20px; /* Espaçamento interno */
    min-height: 50vh; /* Garante que a altura do cartão ocupe toda a tela */
    background: linear-gradient(to bottom, #f1f6fc 0%, #d8ecfc 50%, #cbe3fa 100%) !important;
    border-radius: 15px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.cloze {
    font-weight: bold;
    color: blue;
}

.nightMode .cloze {
    color: lightblue;
}

.nightMode .card {
    background-color: rgba(30, 30, 30, 0.9); /* Cor de fundo no modo noturno com transparência */
}


/*Direitos e contato nos cards*/

.erro {
    background-color: #ffebee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.erro p {
    font-size: 16px;
    font-weight: bold;
    color: #d32f2f;
}

.report-link {
    color: #d32f2f;
    text-decoration: none;
    font-weight: bold;
}

.report-link:hover {
    text-decoration: underline;
    color: #c62828;
}

.direito {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: #1e88e5;
    line-height: 1.5;
}

.creator-link, .website-link, .copyright-link {
    color: #1976d2;
    text-decoration: none;
    font-weight: bold;
}

.creator-link:hover, .website-link:hover, .copyright-link:hover {
    color: #1565c0;
    text-decoration: underline;
}

.direito p {
    margin: 5px 0;
}

.direito a {
    margin-right: 10px;
}

.watermark {
    position: flex; /* Permite que a marca d'água seja posicionada em relação ao card */
    bottom: 10px; /* Distância do fundo */
    left: 10px; /* Distância da esquerda ou use right: 10px; para a direita */
    font-size: 15px; /* Tamanho da fonte */
    color: rgba(0, 0, 0, 0.758); /* Cor e opacidade da marca d'água */
    opacity: 0.2; /* Ajuste a opacidade conforme necessário */
    pointer-events: none; /* Para que a marca d'água não interfira com a interação do usuário */
    z-index: -1; /* Coloca a marca d'água atrás do conteúdo */
}