body, .card {
  background: linear-gradient(to bottom, #f1f6fc, #cbe3fa); /* Azul claro degradê estilo céu */
  min-height: 100vh; /* Garante que a altura do cartão ocupe toda a tela */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Para garantir que os botões sejam posicionados corretamente */
  background-color: #fff; /* Fundo branco da área do cartão */
  border-radius: 15px; /* Bordas arredondadas para todo o cartão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para criar efeito de alto relevo */
}

.answer-buttons{
  display: flex;
  justify-content: center;
  position: flex;
  bottom: 20px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding e border não aumentem a largura total */
  margin-top: 5px;
}

.answer-buttons-back{
  display: flex;
  justify-content: center;
  margin: 0 20px; /* Adiciona espaçamento horizontal ao contêiner */
  z-index: 10; /* Garante que os botões estejam acima de outros elementos */
}

.answer {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.question-box {
  background-color: #f9f9f9; /* Cor de fundo da pergunta */
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  border-radius: 15px; /* Bordas arredondadas para todo o cartão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para criar efeito de alto relevo */
}

.explanation-box, .extra-info-box {
  margin-top: 20px;
}

.explanation-box h3, .extra-info-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.explanation-box p, .extra-info-box p {
  font-size: 16px;
  line-height: 1.5;
}