.card {
  display: flex;
  flex-direction: column;
  min-height: 300px; /* Ajuste conforme necessário para garantir espaço suficiente */
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Para garantir que os botões sejam posicionados corretamente */
}

.answer-buttons{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding e border não aumentem a largura total */
}

.answer-buttons-back{
  display: flex;
  justify-content: center;
  margin: 0 20px; /* Adiciona espaçamento horizontal ao contêiner */
  z-index: 10; /* Garante que os botões estejam acima de outros elementos */
}

.answer {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.question-box {
  text-align: center;
  font-size: 24px;
  margin-bottom: 100px;
}

.explanation-box, .extra-info-box {
  margin-top: 20px;
}

.explanation-box h3, .extra-info-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.explanation-box p, .extra-info-box p {
  font-size: 16px;
  line-height: 1.5;
}